table{
    border: solid blue 2px;
    border-collapse: collapse;
}

th{
    background-color: green;
    border: outset blue 3px;
    color: lightgreen;
}

td{
    border: outset blue 3px;
    background-color: rgb(53, 223, 53);
}
.Fila-2{
    background-color: lightgreen;
}
