table{
    border:outset 5px;
    background-color: blue;
}

th{
    background-color: green;
    border: solid blue 2px;
    color: lightgreen;
    padding-left: 10px;
    padding-right: 10px;
}

td{
    border: solid blue 2px;
    background-color: rgb(53, 223, 53);
}
.Fila-2{
    background-color: lightgreen;
}
